@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Quicksand:wght@300;500&display=swap');

:root {
    --font: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 70px;
    
    
}
.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.flex {
    flex-direction: column;
    justify-content: center;
}
a {
    color: rgb(250, 210, 1);
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    background: rgba(250, 208, 1, .07);
}

#logo {
    width: 130px;
}
.fundo {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.596)), url(../imagens/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}
.titulo {
    text-align: center;
    text-shadow: .1em .1em 1em black;
}

#menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav {
    display: flex;
    align-items: center;
}

#btn-mobile {
    display: none;
}

#ctt {
    text-decoration: none;
    color: white;
    background-color: #fad201;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 39px;
    
}
#ctt:hover{
    background-color: rgba(250, 208, 1, 0.7);
}

h1 {
    font-family: Fugaz One, Arial, sans-serif;
    font-size: 50px;
    color: white;   
    
}
h2 {
    color: #fad201;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
}

.paixao {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
.bem-vindos {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../imagens/fundo-section-2.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
}
.bem-vindos-box {
    width: 500px;
    padding: 30px;
}

.bem-vindos-escrita {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bem-vindos-imagem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.bem-vindos-imagem img {
    width: 450px;
    padding: 30px;
}
.sessao02imagem img {
    padding: 20px;
}
.service {
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 25px;
    color: black;
}
h3 {
    color: #fad201;
    margin-bottom: 10px;
    font-family: "Fugaz One";
    font-size: 70px;
}

h4 {
    font-weight: 500;
    font-family: "Quicksand";
    font-size: 30px;
}

p {
    font-size: 15px;
}
.button {
    background-color: #780116;
    color: white;
    border-style: none;
    border-color: #333;
    border-radius: 40px;
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;
    
}    
.button:hover {
    background-color: #41010b;
    color: white;
}  
h5 {
    font-weight: 500;
    font-family: "Fugaz One";
    font-size: 30px;
    color: #fad201;
}  

.services {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/fundo-servicos.jpg);
    background-position: center;
    background-size: cover;
}
.box {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.service-box {
    flex: 1;
    width: 250px;
    padding: 30px;
    font-family: "Quicksand";
}
.service-box p {
    color: white;
    line-height: 22px;
    width: 200px;
    
}
.img-serv img {
    width: 200px;
    border-radius: 40px;
}
.cliente-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
}
.clientes {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cliente {
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.cliente h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 50px;

}
.depoimento {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.depoimento img {
    width: 50px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
}
h6 {
    font-weight: 500;
    font-family: "Fugaz One";
    font-size: 20px;
    color: #fad201;
}
.footer-area {
    display: flex;
    flex: 1;
}
.area-footer {
    flex: 1;
}
.area-footer img {
    width: 200px;
}
.area-footer, ul, li, a {
    list-style: none;
    text-decoration: none;
    padding: 5px;
}
.area-footer .paixao {
    line-height: 25px;
}


@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }
    #menu {
        display: none;
    }
    #nav.active #menu {
        display: flex;
    }
}