@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Quicksand:wght@300;500&display=swap');

:root {
    --font:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.header {
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 10vh; */
    background: #000;
    padding-inline: 16px;


}

.nav {
    /* max-width: 1280px; */
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 20px;

}

.nav-list a {
    font-size: 18px;
    padding-block: 16px;
}

.flex {
    flex-direction: column;
    justify-content: center;
}

a {
    color: #fad201;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    background: rgba(250, 208, 1, .07);
}


/*          Inicio Seção de Home            */


#logo {
    width: 130px;
}

.fundo {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.596)), url(../imagens/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

.titulo {
    text-align: center;
    text-shadow: .1em .1em 1em black;
}

.hamburger {
    display: none;
    border: none;
    background: #333;
    border-top: 3px solid #fad201;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fad201;
    margin-top: 5px;
    position: relative;
    transition: 0.5s;
}

#menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

/* nav {
    display: flex;
    align-items: center;
} */

#btn-mobile {
    display: none;
}

#ctt {
    text-decoration: none;
    color: white;
    background-color: #fad201;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 39px;

}

#ctt:hover {
    background-color: rgba(250, 208, 1, 0.7);
}

h1 {
    font-family: Fugaz One, Arial, sans-serif;
    font-size: 50px;
    color: white;

}

h2 {
    color: #fad201;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
}

.paixao {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}


/*          Fim Seção de Home            */

/*          Inicio Seção de Bem-vindos            */


.bem-vindos-mbl {
    display: flex;
}

.bem-vindos {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../imagens/fundo-bem-vindos-2100.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.bem-vindos-box {
    width: 500px;
    padding: 30px;
}

.bem-vindos-escrita {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bem-vindos-imagem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bem-vindos-imagem img {
    width: 70%;
}

.sessao02imagem img {
    padding: 20px;
}

.texto-bv {
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 25px;
    color: black;
}

h3 {
    color: #fad201;
    margin-bottom: 10px;
    font-family: "Fugaz One";
    font-size: 70px;
}

h4 {
    font-weight: 500;
    font-family: "Quicksand";
    font-size: 30px;
}

p {
    font-size: 15px;
}

.button {
    background-color: #780116;
    color: white;
    border-style: none;
    border-color: #333;
    border-radius: 40px;
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;

}

.button:hover {
    background-color: #41010b;
    color: white;
}

h5 {
    font-weight: 500;
    font-family: "Fugaz One";
    font-size: 30px;
    color: #fad201;
}


/*          Fim Seção de Bem-vindos            */

/*          Inicio Seção de serviços            */

.services {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/fundo-servicos.jpg);
    background-position: center;
    background-size: cover;
    height: 1100px;
}

#titulo h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.service-box {
    flex: 1;
    width: 250px;
    padding: 30px;
    font-family: "Quicksand";
}

.service-box p {
    color: white;
    line-height: 22px;
    width: 200px;

}

.img-serv img {
    width: 200px;
    border-radius: 40px;
}


/*          Fim Seção de serviços            */

/*          Inicio Seção de clientes            */


.cliente-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.clientes {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.cliente {
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.cliente h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 50px;

}

.depoimento {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.depoimento img {
    width: 50px;
    border-radius: 50%;
}


/*          Fim Seção de clientes            */

/*          Inicio Seção de Rodapé            */

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
}

h6 {
    font-weight: 500;
    font-family: "Fugaz One";
    font-size: 20px;
    color: #fad201;
}

.footer-area {
    display: flex;
    flex: 1;
}

.area-footer {
    flex: 1;
}

.area-footer img {
    width: 200px;
}

.area-footer,
ul,
li,
a {
    list-style: none;
    text-decoration: none;
    padding: 5px;
}

.area-footer .paixao {
    line-height: 25px;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.925);
    color: #fff;
    text-align: center;
}

/*          Fim Seção de Rodapé            */

/*          Inicio Codigo responsivo            */


/* @media (max-width:1000px) {
    .fundo {
        display: flex;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.596)), url(../imagens/fundo.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 90vh;
        width: 100%;
    }
} */

@media (max-width:800px) {
    #btn-mobile {
        display: block;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.20s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.30s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.40s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.50s;
    }

    .nav-list li:nth-child(5) a {
        transition: 0.5s 0.60s;
    }

    /* Estilos ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    
    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(230deg);
    }
    .nav.active .hamburger::after {
        transform: rotate(-230deg);
        top: -8px;
    }
    
    
    #nav.active #menu {
        display: flex;
    }

    .bem-vindos-box {
        padding: 50px;
        width: auto;
    }

    .bem-vindos-mbl {
        display: block;
    }
    
    .bem-vindos-escrita {
        height: 100%;
    }
    
    .bem-vindos-imagem img {
        /* width: 25%; */
        display: none;
    }
}

@media (max-width:600px) {

    .bem-vindos-imagem img {
        display: none;
    }
    
    .footer-area {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }

    .area-footer,
    ul,
    li,
    a {
        text-align: center;
        list-style: none;
        text-decoration: none;
        padding: 5px;
    }
}
